@media (min-width: 577px) and (max-width: 1104px) {
	.nav {
		&-desktop {
			display: none;
		}
	}

	.header {
		&__text {
			padding-top: 20rem;
		}
		&__logo {
			top: 0;
		}
	}

	.aktualnosci {
		&__option {
			&-img {
				object-fit: cover;
				height: 460px;
			}
		}
	}

	.invitation {
		&__box {
			@include boxHeader;
		}

		&__text {
			max-width: 100%;
		}

		&__img {
			@include imgHeader;
		}
	}

	.intencja {
		height: 110vh;

		&__img {
			height: 50em;
		}

		&__header {
			padding-top: 4em;
		}

		&__form-group {
			margin-right: 20%;
			margin-left: 20%;
		}
	}

	.header__ratowanie {
		padding-top: 22rem;
		&--h2 {
			padding-bottom: 2em;
		}
	}

	//wyjazdy

	.ksiadz {
		&__img {
			&::after {
				padding-top: 3em;
			}
		}
	}

	.serca {
		ul {
			font-size: 2em;
		}
	}

	.women {
		&__bottom {
			height: 30vh;
		}
	}
	.men {
		height: 30vh;
		margin-top: 5em;
	}

	.rozance {
		&__img--item {
			width: 70%;
		}
		&__p {
			font-size: 2.5em;
			padding: 1.5em;
		}
	}

	.faustyna {
		&__container {
			width: 70%;
		}
		&__p {
			font-size: 2.8em;
		}
	}

	.thankyou {
		&__wrapper {
			margin-top: 15em;
			margin-bottom: 50em;
		}

		&__box {
			width: 550px;
			height: 300px;
		}
	}

	.error {
		margin-top: 25em;
		margin-bottom: 80em;
		padding: 2em;
		&__error-404 {
			font-size: 4.5em;
		}

		&__error-404p {
			font-size: 3em;
		}
	}

	.section-aboutme {
		font-size: 3em;
	}

	.contact {
		width: 100%;
		&__textUs {
			font-size: 2.5em;
			margin-top: 2em;
		}
	}

	.container {
		flex-direction: column;
		justify-content: start;
	}

	.footer {
		.footer-text {
			font-size: 3em;
		}
	}
}

@media (width: 912px) {
	.wczasy {
		&__header {
			height: 40vh;
		}
	}

	.ksiadz {
		&__img {
			&::after {
				padding-top: 8em;
			}
		}
	}

	.container{
		&__text{
			font-size: 2.5em;
		}
	}

	.contact{
		.sectionTop {
			&__text {
				font-size: 2.5em;
			}
		}
	}
}
