@media (max-width: 768px) {
	.nav {
		&-desktop {
			display: none;
		}
	}

	.header {
		&__text{
			padding-top: 7rem;
		}
		&__intencje {
			font-size: 2em;
		}
		&__logo {
			position: relative;
		}
	}

	.header__text {
		&.header__swiadectwa--text {
			font-size: 3em;
		}
	}

	.header__swiadectwa {
		&--p {
			font-size: 2em;
		}
	}

	.header__ratowanie {
		padding-top: 10rem;
		&--h2 {
			font-size: 2em;
			padding: 0.5em;
		}
		&--p {
			font-size: 1.5em;
			padding: 0.5em;
		}
	}

	.header__text {
		&.header__ratowanie--text {
			padding: 10rem 0.5em 0.2em;
			font-size: 3em;
		}
	}

	.invitation {
		&__box {
			@include boxHeader;
		}

		&__text {
			text-align: left;
			max-width: 100%;
		}

		&__img {
			@include imgHeader;
		}
	}

	//aktualnosci

	.aktualnosci {
		&__option {
			display: inline-block;

			&-heading {
				font-size: 2em;
			}
			&-img {
				width: 100%;
				object-fit: cover;
				height: auto;
			}
			&-info {
				justify-content: space-between;
			}
			&-text {
				text-align: center;
				margin-bottom: 0.1em;
			}
			&-imgText {
				width: 90%;
			}
		}
	}

	//wyjazdy

	.wczasy {
		&__header {
			background-image: linear-gradient(
					rgba(216, 212, 212, 0.464),
					rgba(115, 113, 113, 0.233)
				),
				url('/dist/img/poczecie-sm.jpg');
			margin-top: 6em;
		}
		&__h3 {
			font-size: 2.1em;
			text-align: center;
		}
		&__h4 {
			top: 30%;
			font-size: 1.3em;
		}
		&__text {
			font-size: 2em;
			text-align: center;
		}
	}

	.milosc {
		&__img {
			background-image: linear-gradient(
					rgba(123, 122, 122, 0.277),
					rgba(154, 153, 153, 0.358)
				),
				url('/dist/img/handsGroup-sm.jpg');
		}
		&__header {
			font-size: 2.1em;
		}
		&__text {
			font-size: 2em;
			text-align: center;
		}
		&__link {
			font-size: 2em;
		}
		&__invite {
			text-align: center;
			font-size: 2em;
		}
	}

	.serca {
		&__img {
			background-image: linear-gradient(
					rgba(123, 122, 122, 0.277),
					rgba(154, 153, 153, 0.358)
				),
				url('/dist/img/sunset-sm.jpg');
			&::after {
				font-size: 3em;
			}
		}
		&__header {
			font-size: 2.1em;
		}
		&__text {
			font-size: 2em;
			text-align: center;
		}
		&__card {
			h3 {
				font-size: 2.1em;
			}

			ul {
				width: 100%;
			}
		}
	}

	.women {
		&__header {
			font-size: 3em;
		}

		&__bottom {
			&::after {
				font-size: 2.1em;
				margin: 1em;
			}
		}
	}

	.men {
		&::after {
			font-size: 2.1em;
			margin-top: 2.5em;
		}
	}

	.ksiadz {
		&__img {
			background-image: linear-gradient(
					rgba(154, 153, 153, 0.241),
					rgba(228, 228, 228, 0.537)
				),
				url('/dist/img/olives-sm.jpg');
			&::after {
				font-size: 1.8em;
				// padding-top: 6em;
			}
		}
		&__text {
			text-align: center;
			font-size: 2em;
			// margin: 1em;
		}
	}

	.sylwester {
		&__img {
			background-image: linear-gradient(
					rgba(154, 153, 153, 0.73),
					rgba(228, 228, 228, 0.104)
				),
				url('/dist/img/fireworks-sm.jpg');
			&::after {
				font-size: 2.1em;
				// padding-top: 6em;
			}
		}

		&__text {
			font-size: 2em;
			text-align: left;
		}
	}

	.faustyna {
		&__container {
			width: 300px;
		}

		&__p {
			text-align: left;
		}
	}

	.contactForm {
		padding: 40px;
	}

	.container {
		flex-direction: column;
		&__contactHeader {
			font-size: 1em;
		}

		&__contacttext {
			font-size: 1em;
		}

		&__contactInfo {
			margin-bottom: 2em;
		}
	}

	.header__intencja {
		height: 95vh;
	}

	.intencja {
		height: 172vh;

		&__img {
			height: 60em;
		}

		&__header {
			font-size: 2.5em;
			padding-top: 2em;
			margin-left: 1em;
			margin-right: 1em;
		}

		&__form-group {
			margin-right: 15%;
			margin-left: 15%;
		}
	}

	.rozance {
		&__imgHeader {
			height: 50vh;
			margin-top: 5em;
		}
		&__img--item {
			width: 70%;
		}

		&__border {
			margin: 0 auto;
			height: 25em;
			width: 80vw;
		}

		&__p {
			font-size: 1.5em;
			padding: 1.5em;
		}
	}

	.thankyou {
		&__wrapper {
			margin-top: 15em;
			margin-bottom: 27em;
		}

		&__box {
			width: 300px;
			height: 300px;
		}

		&__text {
			padding: 4em;
		}
	}

	.error {
		margin-top: 20em;
		padding: 2em;
		&__error-404 {
			font-size: 3em;
		}

		&__error-404p {
			font-size: 1.5em;
		}
	}

	.swiadectwa {
		&__img {
			background-image: linear-gradient(
					rgba(123, 122, 122, 0.277),
					rgba(154, 153, 153, 0.358)
				),
				url('/dist/img/book-sm.jpg');
		}
		&__text {
			text-align: left;
			font-size: 2em;
		}
	}

	.contact {
		width: 100%;
		padding: 1em;
		&__form {
			margin-left: 3em;
		}
	}
	.section-aboutme {
		margin-top: 1em;
	}

	//dieta
	.aboutEwa {
		padding-top: 2em;
		padding-bottom: 1em;
	}

	.wrapperDiet {
		margin: 0.5em;
	}

	.aboutDR {
		&__text {
			font-size: 2em;
			text-align: left;
		}
		&__img {
			display: flex;
			justify-content: center;
			align-items: center;
			float: none;
			&--fluid {
				width: 300px;
				border-radius: 5%;
			}
		}
	}

	.fenomen {
		&__text {
			font-size: 2em;
			margin: 1em;
			margin-left: 2em;
			text-align: left;
		}
	}

	.FAQ {
		&__quote {
			font-size: 2em;
		}

		&__questions {
			margin: 0.1em;
		}

		&__heading {
			font-size: 2.5em;
			margin: 1.5em 1em 1.5em 1em;
			text-align: center;
		}

		&__text {
			text-align: left;
		}

		&__imgOne {
			max-width: 35em;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 1em;
			margin: 1.5em;
			margin-bottom: 2em;
		}

		&__list {
			margin-left: 1em;
		}
	}
}

@media (max-width: 360px) {
	.header {
		&__text {
			padding-top: 9rem;
			font-size: 3rem;
		}
		&__logo {
			font-size: 5rem;
		}
	}

	.desc {
		font-size: 2em;
	}

	//aktualnosci

	.aktualnosci {
		&__header {
			font-size: 2em;
		}
	}

	.custom-btn {
		width: 40%;
	}
	.svg-wrapper {
		width: 12em;
	}
	.shape {
		display: none;
	}

	.text {
		font-size: 2em;
	}

	//ewa
	.wrapperDiet {
		margin: 1em;
	}

	.aboutDR {
		&__img {
			&--fluid {
				width: 200px;
				border-radius: 5%;
			}
		}
	}

	.FAQ {
		&__heading {
			font-size: 2em;
		}
		&__text {
			text-align: left;
		}
	}

	.invitation-title {
		font-size: 3rem;
	}

	.invitation {
		&__title {
			font-size: 2.5rem;
		}

		&__text {
			font-size: 2em;
		}
	}

	.container {
		margin-left: 0.1em;

		&__icon {
			justify-content: start;
			font-size: 1.5em;
		}
		&__text {
			justify-content: start;
			font-size: 1.6em;
		}
	}

	.header__ratowanie {
		padding-top: 10rem;
		&--h2 {
			font-size: 1.8em;
			padding: 0.5em;
		}
		&--p {
			font-size: 1.5em;
			padding: 0.5em;
		}
	}

	.header__text {
		&.header__ratowanie--text {
			padding: 5rem 0.5em 0.2em;
			font-size: 2em;
		}
	}

	.serca {
		&__card {
			h3 {
				font-size: 1.5em;
			}
			ul {
				font-size: 1em;
			}
		}
	}
	.rozance {
		&__border {
			margin: 0 auto;
			height: 30em;
			width: 80vw;
		}

		&__p {
			font-size: 1.5em;
			padding: 1.5em;
		}
	}

	.faustyna {
		&__container {
			width: 200px;
			height: 300%;
		}
	}

	.women {
		&__bottom {
			&::after {
				padding-top: 1em;
			}
		}
	}

	.men {
		&::after {
			padding-top: 1em;
		}
	}

	.ksiadz {
		&__img {
			&::after {
				font-size: 1.4em;
				padding-top: 1em;
			}
		}
	}

	.sylwester {
		&__img {
			&::after {
				padding-top: 1em;
			}
		}
	}

	.contact {
		&__form {
			margin-left: 1em;
		}
	}

	.sectionTop-wrapper {
		margin: 1em auto;
		width: 100%;
	}

	.sectionTop {
		&__text {
			font-size: 1.6em;
		}
	}

	.FAQ {
		&__imgOne {
			max-width: 15em;
		}
	}

	.swiadectwa {
		&__header {
			font-size: 2em;
		}
	}
}
